body, html {
    padding: 0px;
    margin: 0px;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 12% 8% 30% 30% 8% 12%;
}

/*colors*/
/* this is for the fotter of the 1st page */
.co-bg-light-blue {
    background-color: #f3f9fd;
}
 
.co-bg-blue {
    background-color: #3498db;
}

.page1-navbar {
    grid-row: 2;
}

.nav-bar {
    display: flex;
    align-items: center;

} 

.nav-btn {
    grid-column: 4/5;
    grid-row: 2;
    padding-right: 5%;
    padding-top: 7px;
}

.hd {
    grid-column:1/5;
    display: flex;
    justify-content: space-around;
}

.nav-items {
    display: flex;
    list-style: none;
}

.inactive-btn-A {
    padding: .60rem 1rem;
    text-decoration: none;
}

.home-colore {
    color: #62b6e7;
    text-decoration: none;
}

.bat {
    color: black;
}

.button-start {
    background-color: #3498db;
    color: black;
    border: 2px solid white;
    border-radius: 45px;
    padding: 14px 55px;
}

.button-start:hover {
    background-color: white;
    color: #008CBA;
    border: 3px solid #008CBA;
}


.grd {
    padding-left:10%;
    grid-column: 1/3;
    grid-row: 3;
}

.grd2 {
    padding-left:10%;
    grid-column: 1/3;
    grid-row: 4;

}

.grd3 {
    grid-column: 3/5;
    grid-row: 2/4;
}

.mod{
    padding-bottom:30px;
    height:160%;
    width:75%;

}

.bottom-logo{
    grid-column:1/5;
    grid-row:5;
    padding-left:7%;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;

} 
.grd4{
    grid-column:1/3;
    grid-row:3;
    padding-left:10%;
} 

.grd5 {
    align-self:end;
    grid-column: 1/2;
    grid-row: 2;
    padding-left:10%;
}

.grd6 {
    grid-column: 1/2;
    grid-row: 1;
    padding-left:30%;
    padding-top:17%
   
}

.grd9 {
    grid-column: 1/3;
    grid-row: 4;
    padding-left: 10%;
    padding-top:0%
}

.grd7 {
    align-self: end;
    grid-column: 1/2;
    grid-row: 3;
    padding-left:10%;
    padding-bottom:5%;
}

.grd8 {
    grid-column: 1/2;
    grid-row: 2;
    padding-left: 27%;
    padding-top:50%
    
}

.grd10 {
    grid-column: 3;
    grid-row: 1;
    padding-left: 10%;
    padding-top: 16%
}

.grd11 {
    align-self: end;
    grid-column: 3;
    grid-row: 2;
    padding-left: 31%;
    padding-bottom: 1%;
}

.grd12 {
    grid-column: 2/5;
    grid-row: 3;
    padding-left: 38%;
    padding-top: 0%
}

.grd13 {
    grid-column: 3;
    grid-row: 3;
    padding-left: 10%;
    padding-top: 36%
}

.grd14 {
    align-self: end;
    grid-column: 3;
    grid-row: 3;
    padding-left: 31%;
    padding-bottom: 0%;
}

.grd15 {
    grid-column: 2/5;
    grid-row: 4;
    padding-left: 42%;
    padding-top: 0%
}
.all-boxes-featurd {
    display: inline-grid;
    grid-column: 1/5;
    grid-row: 3/6;
    width: 75%;
    margin-left: 12%;
    align-content: space-evenly;
}

.box-post {
    border-radius: 3px;
    text-align: center;
    background-color: #f6f6f6;
    padding-top: 5%;
    padding-bottom: 5%;
    color: black;
    margin-left: 10px;
    margin-right: 10px;
    display: -webkit-box;
}
.con-1-1{
    grid-column:1/2;
    grid-row:1;
}

.con-1-2 {
    grid-column: 2/3;
    grid-row: 1;
}

.con-1-3 {
    grid-column: 3/4;
    grid-row: 1;
}

.con-1-4 {
    grid-column: 4/5;
    grid-row: 1;
}

.con-2-1 {
    grid-column: 1/2;
    grid-row: 2;
}

.con-2-2 {
    grid-column: 2/3;
    grid-row: 2;
}

.con-2-3 {
    grid-column: 3/4;
    grid-row: 2;
}

.con-2-4 {
    grid-column: 4/5;
    grid-row: 2;
}

.con-3-1 {
    grid-column: 1/2;
    grid-row: 3;
}

.con-3-2 {
    grid-column: 2/3;
    grid-row: 3;
}

.con-3-3 {
    grid-column: 3/4;
    grid-row: 3;
}

.con-3-4 {
    grid-column: 4/5;
    grid-row: 3;
}

.img-features {
    height: 60%;
    width: 60%;
    margin-top: 30%;
    padding-left: 10%;
}

.text-features {
    padding-left: 5%;
}

/*.fimg {
    padding-right: 10%;
  
}
.fimg1 {
    padding-bottom: 10%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10%;
}
.fimg3 {
    padding-bottom: 10%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10%;
}*/
/*roaa css*/
.button-start-2:hover {
    background-color: #3498db;
    color: black;
    border: 3px solid white;
}

.button-start-2 {
    background-color: white;
    color: black;
    border: 3px solid #3498db;
    border-radius: 45px;
    padding: 14px 55px;
}

.all-box {
    display: flex;
    grid-column: 1/5;
    grid-row: 3;
    justify-self: center;
    align-items: center;
    width: 95%;
}

.blogger-title {
    grid-column: 1/5;
    grid-row: 2;
    justify-self: center;
    align-self: end;
    text-align: center;
}

.blogger-title-2 {
    grid-column: 1/5;
    justify-self: center;
    align-self: end;
    text-align: center;
}


.blog-item {
    margin: 0px 1rem;
    width: fit-content;
}

.blog-item-2 {
    margin: 0px 1rem;
    padding-top: 15%;
    width: fit-content;
}

.blog-item-3 {
    margin: auto;
    padding-left: 10%;
    padding-right: 10%;
    display: inline-grid;
    height: 100%;
    grid-gap: 1%;
}

.text-position {
    text-align: left;
    padding:5%;
}

.felx-inline {
    display: inline-flex;
}

.check {
    width: 5%;
    height: 5%;
    margin-top: 4.5%;
}

.check-2 {
    margin-top: 55%;
}

.margin-spacing {
    padding: 1px;
}

.nav-btn-2 {
    padding-top: 5%;
}

.box-1 {
    display: block;
    grid-column: 1/2;
    grid-row: 2/7;
    justify-self: center;
    align-items: center;
    width: 100%;
    height: 120%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.005), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 6%;
}

.box-2 {
    display: block;
    grid-column: 2/3;
    grid-row: 2/7;
    justify-self: center;
    align-items: center;
    width: 90%;
    height: 120%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.005), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 6%;
}

.box-3 {
    display: block;
    grid-column: 3/4;
    grid-row: 2/7;
    justify-self: center;
    align-items: center;
    width: 100%;
    height: 120%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.005), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 6%;
}

.box-4 {
    display: block;
    grid-column: 4/5;
    grid-row: 2/7;
    justify-self: center;
    align-items: center;
    width: 90%;
    height: 120%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.005), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 6%;
}

.box-1:hover {
    background-color: #3498db;
    color: white;
    border: 3px solid #3498db;
}
.box-2:hover {
    background-color: #3498db;
    color: white;
    border: 3px solid #3498db;
}
.box-3:hover {
    background-color: #3498db;
    color: white;
    border: 3px solid #3498db;
}
.box-4:hover {
    background-color: #3498db;
    color: white;
    border: 3px solid #3498db;
}

.grd-pg5-img {
    display:block;
    grid-column: 3;
    grid-row: 3;
    padding-left: 10%;
    padding-top: 15%;
    padding-bottom:10%;
    height:15%;
}

.grd-pg5-img-2 {
    display:none;

}

#icon-language {
    font-size: 45px;
    color: white;
    grid-column: 3;
    grid-row: 3;
    padding-left: 13%;
    padding-top: 13%;
    padding-bottom: 11%;
    height: 15%;
}

#icon-language:hover {
    font-size: 45px;
    color: #3498db;
    grid-column: 3;
    grid-row: 3;
    padding-left: 13%;
    padding-top: 13%;
    padding-bottom: 11%;
    height: 15%;
}

.icon-border {
    background-color: #3498db;
    border: 3px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin-top: 12%;
    margin-left: 12%;
}

.icon-border:hover {
    background-color: white;
    border: 3px solid #fff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin-top: 12%;
    margin-left: 12%;
}

.pg4-img1 {
   
}

.pg4-img2 {
}

.pg4-img3 {
}

.pg4-img4 {
}
/* isse this to creat box shadw
div.polaroid {
    width: 80%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img {
    width: 100%
}

div.container {
    text-align: center;
    padding: 10px 20px;
}/

/*  Font classes and decorations START here */
.font-thin {
    font-weight: 100;
}

.font-italic {
    font-style: italic;
}

.font-bold {
    font-weight: 600;
}

.font-bold-2 {
    font-weight: 550;
}

.font-one-xsm {
    font-family: 'Open Sans', sans-serif;
    font-size: .7rem;
}

.font-one-sm {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3rem;
}

.font-one-md {
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
}

.font-one-lg {
    font-family: 'Open Sans', sans-serif;
    font-size: 2.25rem;
}

.font-two-sm {
    font-family: sans-serif;
    font-size: 1.2rem;
}

.font-two-md {
    font-family: sans-serif;
    font-size: 1.7rem;
}


/*end of roaa css*/

.side-nav {
    height: 100%;
    width:auto;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    opacity: 0.9;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

   .side-nav a {
        padding: 10px 10px 10px 30px;
        text-decoration: none;
        font-size: 22px;
        color: #ccc;
        display: block;
        transition: 0.3s;
    }

        .side-nav a:hover {
            color: #fff;
        }

    .side-nav .btn-close {
        position: absolute;
        top: 0;
        right: 22px;
        font-size: 36px;
        margin-left: 50px;
    }
    .sp{
        padding:1%;
    }

@media only screen and (min-width: 777px) and (max-width: 992px) {
    .nav-bar {
        display: none
    }
    
    .wi {
        width: 100%;
    }
}


@media only screen and (min-width: 500px) and (max-width: 776px) {
    .nav-bar {
        display: none
    }
    
    .wi {
        width: 100%;
    }

}
@media only screen and (min-width: 300px) and (max-width:501px) {
    .nav-bar {
        display: none
    }

    .wi {
        width: 100%;
    }
}